/Chat 1.1 DBMS.sql
/custom tkinter library path.txt
/grant permission.sql
/test.py
/server_test.py
/client_test.py
/.env
/Resources/images/Chat Dark Palette.png
/Resources/images/Chat Light Palette.png
