customtkinter~=5.2.2
rsa~=4.9
pillow~=10.4.0
cryptography~=43.0.0
future~=0.18.3
openai~=1.42.0
CTkListbox~=1.4
numpy~=1.26.3
PyAudio~=0.2.14
python-dotenv~=1.0.0
tkvideoplayer~=2.5
PyMySQL~=1.1.0
pydub~=0.25.1